/*.ipynb_checkpoints*/
.ipynb_checkpoints/
.ipynb_checkpoints
Desktop/Marcy_Lab/DA2025_Lectures/Mod6/data/2023_Yellow_Taxi_Trip_Data_20251015.csv
Desktop/Marcy_Lab/DA2025_Lectures/Mod6/data/FHV_072023\ copy.csv
Mod6/data/2023_Yellow_Taxi_Trip_Data_20251015.csv.zip
Mod6/data/2023_Yellow_Taxi_Trip_Data_20251015.csv
Mod6/data/FHV_072023 copy.csv
.DS_Store